.bloc_3d{
    border: solid 2px pink;
    grid-column: 1/-1;
    height: 50vh;
    transform-style: preserve-3d;
    @include Dfx_JCc_AIc;
    .bloc{
        border: solid 2px white;
        @include Dfx_JCc_AIc;
        position: relative;
        height: 300px;
        width: 300px;
        transform: rotate3d(0.1, 0.2, 0.5, 0.5turn)
    }
    span{
        border: solid 2px blue;
        padding: 2px;
        position: absolute;
        height: 200px;
        width: 300px;
    }
    .back{
        @include Dfx_JCc_AIc;
    }
    .left{
        transform: translate(-300px) rotateY(-45deg);
    }
    .right{
        transform: translate(300px) rotateY(45deg);
    }
}