$bg_color_1: rgb(19, 18, 18);
$bg_color_1_2: rgb(19, 18, 18, 0.9);
$bg_color_2: #294d61;

$bg_shadow_1: 4px 4px 4px #000;
$bg_shadow_1_2: 0px 0px 0px #000;

$txt_color_1: rgb(221, 221, 221);
$txt_color_1_2: rgb(221, 221, 221, 0.5);
$txt_color_2: rgba(15, 10, 42);

$txt_shadow_1: 4px 4px 4px #000;